# 基本python語法

** 此系列的文件Udemy的python金融分析課程系列筆記(https://www.udemy.com/python-for-finance-and-trading-algorithms) **

** 初入門的朋友可以簡單的利用一些範例了解基本的python語法 **

簡單的加減乘除可以直接用python達成，值得一提是兩個乘號代表次方，%代表餘數

In [1]:
1 + 1

2

In [3]:
2 - 1

1

In [8]:
2 * 3

6

In [7]:
2 ** 3

8

In [10]:
5 / 2

2.5

In [11]:
5 % 2

1

簡單的把一些值輸入變數之中，也可以給字串或是布林值

In [13]:
x = 1
y = 2
x + y

3

In [21]:
x = "Peter"
y = " 嗨，你好"
x + y

'Peter 嗨，你好'

上面使用的方式都是直接按出計算結果，在程式中想要使程式顯示輸出結果在螢幕上要用print函數

另外在字串的資料型態可以使用format這個函數，他會自動抓取字串中的大括號{}並且把後面輸入的字串或是變數填入大括號中

In [18]:
print(3**2)

9

In [17]:
print(3**2)

9

In [23]:
print("hi,{}, I can use chinese to tell you{}".format(x,y))

hi,Peter, I can use chinese to tell you 嗨，你好

四種資料型態：List, Dictionary, Tuple, Set
* List: 陣列，可以用[]內的數字去指定你要的取出的值，[0]就是第一個，[:]代表所有，[3:]代表第四個到最後，[-1]代表最後一個
* Dictionary: 用一個索引去找到對應的值
* Tuple: 最主要的特性是不能改動裡面的值
* Set: 不能放入重複的值

另外，list可以使用append指令把新的值放入資料型態當中，dict可以直接指定一個新的key跟對應的value

In [24]:
list1 = [0, 1, 2, 3, 4, 5, 6]

In [25]:
list1[2]

2

In [26]:
list1[:]

[0, 1, 2, 3, 4, 5, 6]

In [27]:
list1[3:]

[3, 4, 5, 6]

In [28]:
dict1 = {'key1':'item1','key2':'item2'}

In [29]:
dict1["key1"]

'item1'

In [30]:
tuple1 = (1,2,3)

In [31]:
tuple1[2]

3

In [32]:
tuple1[2] = 2

TypeError: 'tuple' object does not support item assignment

In [35]:
set1 = {1,2,3}

In [36]:
set2 = {1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [37]:
set1

{1, 2, 3}

In [38]:
set2

{1, 2, 3}

In [54]:
list1.append(3)
list1

[0, 1, 2, 3, 4, 5, 6, 3]

In [56]:
dict1['key3']='item3'
dict1

{'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}

資料結構還有一個值得一提的功能，可以使用pop取出內部的值，取出後該值就會消失

list的pop會從右邊取出(先進後出)
set的pop會從左邊取出(後進先出)

In [78]:
list1.pop()

3

In [80]:
list1

[0, 1, 2, 3, 4, 5, 6]

In [81]:
list1.pop()

6

In [82]:
list1

[0, 1, 2, 3, 4, 5]

In [83]:
dict1

{'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}

In [84]:
dict1.pop('key1')

'item1'

In [85]:
dict1

{'key2': 'item2', 'key3': 'item3'}

In [86]:
tuple1

(1, 2, 3)

In [92]:
set1

{1, 2, 3}

In [93]:
set1.pop()

1

In [94]:
set1

{2, 3}

python也有一些很直觀的數學運算子，大於小於等於等等

你也可以簡單地使用and, or等等的邏輯運算子去做出自己的需求

In [40]:
1 > 2

False

In [41]:
1 < 2

True

In [42]:
1 == 1

True

In [43]:
'hi' == 'bye'

False

In [44]:
(1 > 2) and (2 < 3)

False

In [45]:
(1 == 2) or (2 == 3) or (4 == 4)

True

Python的if else寫法，如果你是python初學者，記得要縮排

In [46]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [47]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

Python的for迴圈可以在一個List裡面逐個取出值，寫法如下

In [48]:
seq = [1,2,3,4,5]

In [49]:
for item in seq:
    print(item)

1
2
3
4
5

In [50]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [51]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

While迴圈是可以給停止條件的迴圈，要小心寫出無窮迴圈

In [53]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

function是可以把想要做的事情包裝成一個自訂的函數，給定輸入就能輸出對應的輸出

lambda也是類似的方式

In [59]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [60]:
my_func()

default

In [61]:
my_func('new param')

new param

In [62]:
def square(x):
    return x**2

In [63]:
square(2)

4

In [64]:
def times2(var):
    return var*2

In [65]:
times2(2)

4

In [66]:
lambda var: var*2

Map 及 Filter
* Map是可以把想要處理的函數放進去，他就會自動幫你把陣列的每個值都套入函數裝
* Filter是給定篩選條件，他會輸出符合條件的陣列內值

In [67]:
seq = [1,2,3,4,5]

In [68]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [69]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [70]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

In [71]:
l1=[1,2,3,4,5]
l1.pop()

5

In [72]:
l1

[1, 2, 3, 4]

In [76]:
d1 = {'key1': 'item1', 'key2': 'item2', 'key3': 'item3'}
d1.pop('key1')

'item1'

In [77]:
d1

{'key2': 'item2', 'key3': 'item3'}